:root {
  --primary-color: #FFBD39;
}

/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  font-family: "cascadia code", sans-serif;
  height: 100%;
}

body {
  background-color: rgb(24, 23, 23);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 200px;
  position: fixed;
  padding-top: 20px;
  z-index: 10;
  padding-bottom: 20px;
  transition: background-color 3s ease;
  background-color: transparent;
}

nav.black-bg {
  background-color: black;
}

nav img {
  width: 50px;
  height: 50px;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#navLinks {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  gap: 20px;
  color: white;
  font-size: 1.2rem;
  font-family: sans-serif;
  transition-duration: 0.5s;
}

nav a:hover {
  transition-duration: 0.5s;
  filter: drop-shadow(0 0 30px rgb(232, 215, 28));
  color: var(--primary-color);
}

nav a:active {
  transition-duration: 3s;
}

h2 {
  color: white;
}

#header h2 {
  letter-spacing: 2px;
}

#galaxy {
  position: relative;
  height: 72vh;
  background-image: url('../public/images/space.jpg');
  background-size: cover;
  background-position: center;
  margin-top: 0px;
}

#galaxy::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.content {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.content h2 {
  color: var(--primary-color);
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content h1 {
  font-size: 3rem;
}

.content h3 {
  text-transform: uppercase;
  font-weight: lighter;
}

.content h4 {
  letter-spacing: 2.5px;
  font-size: 0.95rem;
  font-weight: bold;
  border: solid 3px lightgray;
  padding: 0;
  width: 200px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  transition-duration: 0.3s;
}

.content h4:hover {
  cursor: pointer;
  border: solid 3px var(--primary-color);
  transition-duration: 0.3s;
  box-shadow: 0 0 30px rgb(232, 215, 28);
}

#socialMedia {
  display: flex;
  gap: 40px;
  position: absolute;
  bottom: -180px;
}

#socialMedia i {
  font-size: 3rem;
  transition-duration: 1s;
}

#socialMedia i:hover {
  color: var(--primary-color);
  transition-duration: 1s;
}

section {
  background-color: rgb(45, 43, 43);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
  height: 80vh;
}

#myAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: solid 5px yellow;
}

#aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 700px;
}

section img {
  width: 350px;
  height: 350px;
}

section h1 {
  color: white;
}

#aboutMe h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 25px var(--primary-color), 0 0 5px rgba(255, 105, 180, 0.5);
  letter-spacing: 2px;
  text-transform: uppercase;
}

#aboutMe p {
  color: white;
  text-align: justify;
  font-size: 1.2rem;
  color: gray;
  line-height: 1.5;
}

section button, #mountains button, form button {
  width: 170px;
  height: 55px;
  background: linear-gradient(45deg, var(--primary-color), rgb(49, 50, 47));
  border-radius: 25px;
  font-weight: bold;
  font-size: 0.85rem;
  padding: 15px;
  letter-spacing: 1.2px;
  transition: all 0.3s ease;
  border: none;
  color: #000;
  text-transform: uppercase;
  box-shadow: 0 6px 12px 5px rgba(0, 0, 0, 0.4); /* M치s sombra para mayor relieve */
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

section a {
  color: black;
}

section button:hover, #mountains button:hover, form button:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  box-shadow: 0 0 30px rgb(232, 215, 28);
}

#skills {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 50px;
}

#skills h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 25px var(--primary-color), 0 0 5px rgba(255, 105, 180, 0.5);
  letter-spacing: 2px;
  text-transform: uppercase;
}


#skills h3 {
  color: #9f9d9d;
  font-size: 1rem;
}

#languages {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  grid-template-rows: repeat(4, auto);
  color: white;
}

#languages h3 {
  color: white;
  font-size: 1.2rem;
  font-family: sans-serif;
}

.languageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}

.titles {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 10px;
  color: #000;
}

.barsBg {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.bars {
  background-color: #ffaa00;
  height: 100%;
  border-radius: 3px;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  animation: slideInFromBotton 2s ease-in;
}

#projects h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 25px var(--primary-color), 0 0 5px rgba(255, 105, 180, 0.5);
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 30px;
}


#projects img {
  width: 500px;
}

#projectsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 3s ease-out;
}

#projectsGrid.in-view {
  opacity: 1;
  animation: slideInFromBottom 10s ease-in forwards; /* Aplica la animaci칩n */
}

.singleProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.singleProject h3 {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 400;
}

.singleProject img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s;
}

.singleProject:hover img {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgb(232, 215, 28);
  opacity: 0.7;
  cursor: crosshair;
}

#mountains {
  position: relative;
  height: 72vh;
  background-image: url('../public/images/mountains.jpg');
  background-size: cover;
  background-position: center;
  margin-top: 0px;
}

#mountains::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.mountainsContent {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.mountainsContent p {
  width: 550px;
}

.form-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: #000;
}

.form-container h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 25px var(--primary-color), 0 0 5px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  text-transform: uppercase;
}

.form-container h3 {
  color: #c6c1c1;
  font-size: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

input, textarea {
  width: 100%;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  background-color: transparent;
  border: solid 1px #fff;
  color: #fff;
  font-size: 1.1rem;
}

input:hover, textarea:hover {
  border: solid 2px #FFBD39;
}

textarea {
  height: 200px;
}

form button {
  margin-top: 10px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #2D2B2B;
}

footer h5 {
  color: #fff;
  padding: 50px;
  font-size: 1rem;
}

footer span {
  color: var(--primary-color);
}

.video-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

video {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.7;
}

.typewriter {
  border: 4px solid #000;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#galaxy h1 {
  display: inline-block;
  overflow: hidden;
  border-right: .15em solid #FFBD39;
  padding-right: 10px;
  white-space: nowrap;
  margin: 0;
  font-size: 2em;
}

aside {
  background-color: rgb(60, 57, 57);
  border: solid 2px var(--primary-color);
  width: 350px;
  height: auto;
  position: fixed;
  z-index: 20;
  right: 30px;
  bottom: 30%;
  border-radius: 10px;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

aside h1 {
  font-size: 2.5rem;
  font-weight: bolder;
  background: linear-gradient(135deg, #ffffff, #312f2f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.question {
  color: #fff;
  text-decoration: underline;
  font-size: 1rem;
  padding: 5px;
  transition-duration: 1s;
  padding-bottom: 15px;
  padding-top: 10px;
}

.questionCircle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.question.active {
  color: var(--primary-color);
}

.answers {
  text-align: justify;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease, padding 0.7s ease;
  color: #ffffff;
  padding: 0 10px;
  font-weight: lighter;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.answers.active {
  max-height: 180px;
  padding: 10px;
  transition: max-height 1.5s ease, padding 1.5s ease;
}

.chevronRight {
  width: 30px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.chevronRight.active {
  transform: rotate(90deg);
}

@keyframes slideInFromLeft {
  0% {
      transform: translateX(-100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes slideInFromBotton {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.section-content {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideInFromLeft 2s forwards;
}

.section-content.visible {
  animation: slideInFromLeft 2s forwards;
}

/* Media Queries for Responsiveness */

@media (max-width: 1950px) {
  aside {
    width: 100%;
    position: relative;
    left: 0;
    bottom: 0;
    text-align: center;
    display: block; /* Ensure aside is visible */
    padding: 20px;
    border: none;
    border-radius: 0px;
    padding: 30px;
  }
}

@media (max-width: 1300px) {
  #navLinks {
    gap: 20px;
  }

  .content h1 {
    font-size: 2.5rem;
  }

  .content h2 {
    font-size: 1.5rem;
  }

  .content h4 {
    width: 150px;
    font-size: 0.85rem;
  }

  section {
    flex-direction: column;
    gap: 50px;
    height: auto;
    padding: 50px 20px;
  }

  #aboutMe {
    width: 100%;
  }

  .languageBox {
    width: 70vw;
  }

  section img {
    width: 250px;
    height: 250px;
  }

  section h1 {
    font-size: 2.5rem;
  }

  #aboutMe h1 {
    font-size: 2.5rem;
  }

  #aboutMe p {
    font-size: 1rem;
  }

  #languages {
    grid-template-columns: 1fr;
  }

  .languageBox {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  #projects {
    animation: slideInFromLeft 1s forwards;
  }

  #projects img {
    width: 100%;
  }

  #projectsGrid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

   /* Aside fixed positioning */
 
  .singleProject img {
    height: auto;
  }

  .mountainsContent p {
    width: 100%;
  }

  form {
    width: 80%;
  }
}

@media (max-width: 950px) {

  nav {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  #header img {
    width: 30px;
    height: 30px;
  }

  #header h2 {
    font-size: 0.7rem;
  }

  #navLinks {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap; /* Evita que los enlaces se envuelvan a la siguiente fila */
  }

  nav a {
    font-size: 0.4rem;
    white-space: nowrap; /* Evita que los enlaces se envuelvan dentro de ellos mismos */
  }

  nav img {
    width: 40px;
    height: 40px;
  }

  .content h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .content h2 {
    font-size: 1rem;
    text-align: center;
  }

  .content h4 {
    width: 100px;
    font-size: 0.7rem;
    text-align: center;
  }

  .content h3 {
    font-size: 1rem;
    text-align: center;
  }

  #skills {
    padding: 20px;
    text-align: center;
  }

  #skills h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  #skills h3 {
    font-size: 0.8rem;
    text-align: center;
  }

  #languages {
    display: grid;
    grid-template-columns: 1fr; /* Una columna para m칩viles */
    gap: 20px; /* Espacio entre las filas */
  }

  .languageBox {
    display: flex;
    flex-direction: column; /* Cambia la disposici칩n a columna */
    align-items: center;
    width: 70vw;
  }

  .titles {
    width: 100%;
    text-align: center;
  }

  .barsBg {
    width: 100%;
  }

  .bars {
    width: 90%; /* Ajusta el ancho de las barras de progreso */
  }

  .mountainsContent p {
    width: 100%;
    font-size: 0.85rem;
    text-align: center;
  }

  #mountains p {
    font-size: 0.8rem;
    width: 90%;
  }

  #projects h1 {
    font-size: 1.3rem;
  }

  section {
    padding: 20px;
    text-align: center;
  }

  section button, #mountains button, form button {
    width: 150px;
    height: 50px;
    font-size: 0.75rem;
  }

  #aboutMe {
    align-items: center;
  }

  footer h5 {
    padding: 20px;
    font-size: 0.85rem;
    text-align: center;
  }

  footer {
    display: grid;
  }
  
  /* Form centering adjustments */
  .form-container {
    padding: 40px;
    text-align: center;
  }
  
  form {
    width: 100%;
    text-align: left;
  }

  form::placeholder {
    text-align: left;
  }

  .form-container h1 {
    font-size: 2rem;
  }

  input, textarea {
    width: 100%;
    font-size: 1rem;
    text-align: left;
  }

  #video {
    display: none;
  }

  form button {
    font-size: 0.7rem;
  }

  #projects h1 {
    font-size: 1.1rem;
  }
}

